annotated-types==0.7.0
anyio==4.8.0
bcrypt==4.2.1
cachetools==5.5.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.0
dnspython==2.7.0
email_validator==2.2.0
fastapi==0.115.6
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.66.0
gotrue==2.11.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.10
postgrest==0.19.0
proto-plus==1.26.0
protobuf==5.29.3
# CHANGE THIS: Use binary for easier Linux deployment
psycopg2-binary==2.9.10 
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
# REMOVED: pywin32==308 (Windows Only)
realtime==2.1.0
requests==2.32.3
rsa==4.9
sniffio==1.3.1
starlette==0.41.3
storage3==0.7.5
supabase==2.11.0
supafunc==0.5.0
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
uvicorn==0.34.0
websockets==14.1